node_modules/
target/
tmp/
/coverage
/build
/app/neededTemplate.html
node_modules
DS_Store

*.gz
*.log
*.rar
*.tar
*.zip

.idea/
.project
*.iml

.env
__MACOSX/
.DS_Store
Thumbs.db
.babelrc
package-lock.json